# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & Local state
*.sqlite3
*.db
!backend/app/static/assets/*.jpg

# Logs & OS artifacts
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
